# Node.js with React
# Build a Node.js project that uses React.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Install Node.js'

- script: npm install yarn -g
  displayName: 'npm install yarn -g'

- script: |
    yarn install
    yarn build
  displayName: 'yarn install & build'

- task: CopyFiles@2
  inputs:
    SourceFolder: '$(Build.SourcesDirectory)/build'
    Contents: '**'
    TargetFolder: '$(Build.SourcesDirectory)/staging/build'
    CleanTargetFolder: true
    OverWrite: true

- task: CopyFiles@2
  inputs:
    SourceFolder: '$(Build.SourcesDirectory)'
    Contents: 'server.js'
    TargetFolder: '$(Build.SourcesDirectory)/staging'
    OverWrite: true

- task: PublishPipelineArtifact@1
  inputs:
    targetPath: '$(Build.SourcesDirectory)/staging'
    artifact: 'vridge-app'
    publishLocation: 'pipeline'